body {
    background-color: #fc3;
    color: #fff;
}

button {
    background: none;
    border: none;
    outline: none;
    padding: 50% 25%;
}

.header {
    font-size: 2rem;
    text-align: center;
    margin: 10vh auto 2vh;
}

.container {
    max-width: 30vw;
    width: 100%;
    /* height: 0vh; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
}

.imgWrapper {
    background: url(./assets/img/0.jpg) no-repeat;
    background-repeat:no-repeat;
    background-size: contain;
    margin: 0px auto;
    width: 100%;
    overflow: hidden;
    /* padding: 50%; */
    grid-column: 1 / 3;
    border-radius: 3%;
    transition: background 1s;
}

.text {
    overflow: hidden;
    /* height: 100%; */
}

.sign {
    /* height: 100%; */
    display: none;
}

.controlsWrapper {
    display: flex;
    justify-content: space-between;
    /* min-width: 4rem; */
    /* min-width: 50%; */
    justify-self: right;
    height: 100%;
    cursor: pointer;
}

.dot {
    background: #fff;
    border-radius: 50%;
    width: 0.7rem;
    margin-left: 0.7rem;
    height: 0.7rem;
}

.dotBtn {
    height: 100%;
    display: flex;
    align-items: center;
}

.dotHover {
    box-sizing: border-box;
    background: #fc3;
    border: 0.2rem #000 solid;
    transition: border 0.2s;
}


.active {
    background-color: black;
    transition: background-color 1s;
}

.current {
    display: block;
    animation: normal;
}

.flip-scale-2-hor-bottom {
	-webkit-animation: flip-scale-2-hor-bottom 0.5s linear both;
	        animation: flip-scale-2-hor-bottom 0.5s linear both;
}

@-webkit-keyframes flip-scale-2-hor-bottom {
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    50% {
      -webkit-transform: translateY(50%) rotateX(90deg) scale(2);
              transform: translateY(50%) rotateX(90deg) scale(2);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    0% {
      -webkit-transform: translateY(100%) rotateX(180deg) scale(1);
              transform: translateY(100%) rotateX(180deg) scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
  }
  @keyframes flip-scale-2-hor-bottom {
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    50% {
      -webkit-transform: translateY(50%) rotateX(90deg) scale(2);
              transform: translateY(50%) rotateX(90deg) scale(2);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    0% {
      -webkit-transform: translateY(100%) rotateX(180deg) scale(1);
              transform: translateY(100%) rotateX(180deg) scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
  }
  
